# Исключить папки сборки
/bin/
/obj/
/build/

# Исключить файлы пользователя Visual Studio
.vs/
.vscode/
.idea/

# Исключить файлы, специфичные для ОС
.DS_Store
Thumbs.db

# Ignore .env files containing sensitive data
*.env